# My choice:

Instead of following the instructors and doing the lesson in Google Colab, I preferred Jupyter, since I already had it installed from the "Hashtag" course, a few weeks ago.

# What I did onMay 24, 2022:

### 1) Imported pandas "as" pd (a nickname)
### 2) Imported data from gist and at the same time creatind a variable "url" containing the imported data.
### 3) Named "dados" the variable containing the csv result of "url".
### 4) Gave the command "head", which shows:

a- The first five entries of the Data Frame (DF) if you leave the ".head" parenthesis empty;

b- The "n" entries if you fill the ".head" parenthesis with a number.

# I had to stop and I'm continuing the morning after.

Ok, let's do the lesson!

In [3]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)
dados.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

# Explaining the code above:

### "url=" means:

1) creating a variable called "url" (could be any other name, to avoid confusion with its origin);

2) the variable content is "called" from an url. Something that is at that address;

3) I know that url contains a raw tabular data.

### "dados" means:

1) A variable;

2) It contains the Pandas reading of the imported "url" variable's tabular data.

### "dados.head()" displays:

a- The first five entries of the Data Frame (DF);

b- The "n" entries if you fill the ".head" parenthesis with a number. You may try it in the above code.


And below I Just called "dados".

In [2]:
dados

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

the rest can be reached at the Colab file.