# My choice:

Instead of following the instructors and doing the lesson in Google Colab, I preferred Jupyter, since I already had it installed from the "Hashtag" course, a few weeks ago.

# What I did onMay 24, 2022:

### 1) Imported pandas "as" pd (a nickname)
### 2) Imported data from gist and at the same time creatind a variable "url" containing the imported data.
### 3) Named "dados" the variable containing the csv result of "url".
### 4) Gave the command "head", which shows:

a- The first five entries of the Data Frame (DF) if you leave the ".head" parenthesis empty;

b- The "n" entries if you fill the ".head" parenthesis with a number.

# I had to stop and I'm continuing the morning after.

Ok, let's do the lesson!

### Note that the code cells here are re-executable.

You may change a parameter and run again.

A different result will display in place of the former one.

In [3]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)
dados.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

# Explaining the code above:

### "url=" means:

1) creating a variable called "url" (could be any other name, to avoid confusion with its origin);

2) the variable content is "called" from an url. Something that is at that address;


### "dados":


1) I know that url contains a raw tabular data = csv (The CSV, Comma Separated Values, file is a text file with a specific format to enable saving the data in a table-structured format.)

2) A variable named "dados" contains csv data from another just created variable called "url";

3) "dados" contains the Pandas reading of the imported "url" variable's tabular data.

### "dados.head()" displays:

a- The first five entries of the Data Frame (DF);

b- The "n" entries if you fill the ".head" parenthesis with a number. You may try it in the above code.

### One of the teachers  always commands "head" first thing to check if  the DF was imported ok.

# knowing more about the just imported DF

Just type the variable name that containd the imported DF: "dados", as below.

The DF will be displayed: the 1st five lines and the last 5.

After that an important info is given: "10008 rows × 8 columns" = the size of the table.

In [2]:
dados

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

### From the 2 displayed data above we can see that there are things to be cleaned/corrected in the DF:

1) Missing street names;

2) Currency symbols (all lines) and words (line 10006 at least) mixed with numbers at the "Valor" column;

3) Double comma in line 10006's address;

4) Whatever comes next.

### If I want to see more from the DF:

"dados.sample()" displays 1 RANDOM line.

By filling the parenthesis with a number, that quantity of random lines will be displayed.

In [4]:
dados.sample()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
4173,"Rua Artur de Souza Marques, 322",Vila Tramontano,São Paulo,1000,4,6,6,R$ 8.600.000

In [6]:
dados.sample(15)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
43,"Rua Vicente Góes e Aranha, 587",Vila Tramontano,São Paulo,463,4,6,6,R$ 2.200.000
1116,Largo Mestre de Aviz,Jardim Luzitânia,São Paulo,500,3,2,5,R$ 3.850.000
790,Rua Doutor João Dalmácio Azevedo,Cidade Jardim,São Paulo,1105,4,5,14,R$ 14.000.000
2870,NaN,Jardim Leonor,São Paulo,750,4,8,5,R$ 20.000\n /Mês
8597,"Rua Major Freire, 567",Vila Monte Alegre,São Paulo,211,4,3,5,R$ 970.000
1729,Rua Professor Miguel Maurício da Rocha,Brooklin Paulista,São Paulo,485,4,7,4,R$ 2.660.000
1380,Rua João Álvares Soares,Campo Belo,São Paulo,605,4,2,4,R$ 5.000.000
3605,"Rua Pongada, 110",Jardim Panorama,São Paulo,394,4,6,4,R$ 2.000.000
5668,"Rua Wagih Assad Abdalla, 138",Morumbi,São Paulo,683,4,6,4,R$ 10.000\n /Mês
8694,Rua Rafael Iório,Campo Belo,São Paulo,132,3,2,2,R$ 800.000
8908,NaN,Vila Gertrudes,São Paulo,109,2,2,2,R$ 1.000.000
2815,NaN,Jardim Paulista,São Paulo,723,3,3,4,R$ 16.500.000
8252,Rua Sassaki,Vila Marari,São Paulo,270,3,6,3,R$ 980.000
8547,Rua Henrique Martins,Jardim Paulista,São Paulo,723,3,7,4,R$ 16.497.000
2898,Rua Sanharó,Jardim Guedala,São Paulo,590,5,5,5,R$ 2.250.000

# To get a "series":
Series means:

1) "A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type".

2) "Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index".

Check how to get it below: (be careful, it's case sensitive)

In [8]:
dados["Bairro"]

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [ ]:
Ok, there are 10008 rows = the total given by the "dados" command above.

But I bet the same does not happen with the Rua column, because there are data missing or typed wrongly.

Let`s check:

In [9]:
dados["Rua"]

0                 Avenida Itacira, 255
1        Rua Aurelia Perez Alvarez, 42
2                       Rua Alba Valdez
3                                   NaN
4              Rua Tobias Barreto, 195
                      ...
10003                        Rua Tapuçu
10004                     Rua Guararema
10005                 Rua Estero Belaco
10006           Rua Manuel Onha, , 514
10007        Rua Barão de Tramandaí, 0
Name: Rua, Length: 10008, dtype: object

### Counting the "NaN" in "Rua":

In [13]:
dados['Rua'].isna().sum()

3434

In [16]:
3434/10008*100

34.31254996003197

So 34% of the DF does not have a street name. 1/3 is very significative!

What to do? Simply disregard? Erase them? Is the street nasme important or only the borrough matters?

Leave the streets there, I say. No harm so far.

Following the lesson:

What if I want to know the borrough of a certain row?

In [19]:
dados["Bairro"][6522]

'Vila Paulo Silas'

Done!

With "dados.info" I get what kind of data is in each column.

In [21]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In the "Dtype" column: Object means text and int64 means an integer number.

In the "Non-Null Count" column: how many valid data. In number of rows. Remember we have 10008 rows here.

So Rua and Bairro are incomplete.

And Valor has not the desired "int64" (integer numbers) kind of data. How to fix it? (later...)

To display a column we can command "dados["Rua"]" as we did before...
OR...
"dados.Rua"
Let's try:

In [22]:
dados.Rua

0                 Avenida Itacira, 255
1        Rua Aurelia Perez Alvarez, 42
2                       Rua Alba Valdez
3                                   NaN
4              Rua Tobias Barreto, 195
                      ...
10003                        Rua Tapuçu
10004                     Rua Guararema
10005                 Rua Estero Belaco
10006           Rua Manuel Onha, , 514
10007        Rua Barão de Tramandaí, 0
Name: Rua, Length: 10008, dtype: object

In [ ]:
Ok.
So let`s calculate the average square meters using that:

In [23]:
dados.Metragem.mean()

442.30065947242207

In [ ]:
So the mean square area of the properties is 442.3 square meters.
That coul be gotten with:

In [24]:
dados["Metragem"].mean()

442.30065947242207

see 45min03 of aula 1 to continue...